numpy==1.23.3
pandas==2.0.2
scikit-learn==1.2.2
streamlit==1.26.0
streamlit-option-menu==0.3.6
arch==6.1.0
matplotlib==3.7.1
numba==0.57.0
plotly==5.16.1
keras==2.12.0
tensorflow==2.12.0
statsmodels==0.14.0
scipy==1.10.1
pypistats==1.5.0
numba==0.57.0
prophet==1.1.4
statsmodels==0.14.0
